extends layout

block content
  .page-header
    h3 Create A New Cause


  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true required)
    .form-group
      label(class='col-sm-2 control-label', for='briefDescription') Brief Description
      .col-sm-8
        input.form-control(type='text', name='briefDescription', id='briefDescription' required)
    .form-group
      label(class='col-sm-2 control-label', for='detailedDescription') Detailed Description
      .col-sm-8
        textarea.form-control(name='detailedDescription', id='detailedDescription', rows='7')
    .form-group
      label(class='col-sm-2 control-label', for='campaignStartDate') Campaign StartDate
      .col-sm-8
         input.form-control(type='date', name='campaignStartDate', id='campaignStartDate')
    .form-group
      label(class='col-sm-2 control-label', for='campaignEndDate') Campaign End date
      .col-sm-8
        input.form-control(type='date', name='campaignEndDate', id='campaignEndDate')
    .form-group
      label(class='col-sm-2 control-label', for='minimunBackersRequired') Minimum supporters needed
      .col-sm-8
        input.form-control(type='number', min="1" name='minimunBackersRequired', id='minimunBackersRequired' required)
    .form-group
      label(class='col-sm-2 control-label', for='projectStartDate') Project Start Date
      .col-sm-8
        input.form-control(type='date', name='projectStartDate', id='projectStartDate')
    .form-group
          h2.col-sm-offset-6
          label(class='col-sm-6 control-label', for='Venue Details') Venue Details
    .form-group
      label(class='col-sm-2 control-label', for='address') Address*
      .col-sm-8
        input.form-control(type='text', name='address', id='address' required)
    .form-group
      label(class='col-sm-2 control-label', for='city') City
      .col-sm-8
        input.form-control(type='text', name='city', id='city')
    .form-group
      label(class='col-sm-2 control-label', for='state') State
      .col-sm-8
        input.form-control(type='text', name='state', id='state')
    .form-group
      label(class='col-sm-2 control-label', for='state') Zipcode
      .col-sm-8
        input.form-control(type='text', name='zipcode', id='zipcode')
    .form-group
      label(class='col-sm-2 control-label', for='country') Country
      .col-sm-8
        input.form-control(type='text', name='country', id='country')
    .form-group
      .col-sm-offset-5.col-sm-1
        button.btn.btn-primary(type='submit')
          | Save
      .col-sm-1
        button.btn.btn-primary(type='submit')
          | Publish
