extends layout

block content
  .page-header
    h3 Browse Causes

    ul.list-group
      each project in projects
        li.list-group-item
          h3
            a.fa.fa-pencil-square-o.pull-right.btn-btn-default(href='/project/'+project._id+'/edit')
            a(href="/project/"+project._id) #{project.name}
          | #{project.briefDescription}