extends layout

block content
  .page-header
    h3 Browse Causes

    ul.list-group
      each project in projects
        | &nbsp;
        li.list-group-item
          h3
            a(href="/project/"+project._id) #{project.name}
          | #{project.briefDescription}